 <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- For PROD <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script> -->
<script src="https://cdn.tailwindcss.com"></script>

<div id="app">
    <form @change="calculateDamage" class="w-fit">
        <div note="top">
            <div note="characterInfo" class="flex flex-row">
                <div note="characterInfo" class="m-4">
                    <div note="SelectPlayer">
                        <select v-if="currentPlayerInfo" v-model="currentPlayerInfo" @change="changePlayer">
                            <option :value="{}" disabled selected>Select Player</option>
                            <option v-for="(item, key) in playerList" :value="item">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="w-24 h-36 border-2 rounded m-2"></div>
                    <div note="SelectPlayerLevel">
                        <select v-model="currentLevel" @change="calculateStats">
                            <option disabled selected>Select Level</option>
                            <option v-for="index in 60" :value="index">
                                Level {{index}}
                            </option>
                        </select>
                    </div>
                </div>
                <div note="characterGear" class="m-4">
                    <div class="m-2">
                        <select v-model="currentWeapon" @change="calculateStats">
                            <option :value="{}" disabled selected>Select Weapon</option>
                            <option v-for="(item, key) in weaponList" :value="item" :key="key">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="m-2">
                        <select v-model="currentHelm" @change="calculateStats">
                            <option :value="{}" disabled selected>Select Headgear</option>
                            <option v-for="(item, key) in helmList" :value="item" :key="key">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="m-2">
                        <select v-model="currentArmor" @change="calculateStats">
                            <option :value="{}" disabled selected>Select Armor</option>
                            <option v-for="(item, key) in armorList" :value="item" :key="key">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="m-2">
                        <select v-model="currentBoots" @change="calculateStats">
                            <option :value="{}" disabled selected>Select Footgear</option>
                            <option v-for="(item, key) in bootsList" :value="item" :key="key">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="m-2">
                        <select v-model="currentAccessory" @change="calculateStats">
                            <option :value="{}" disabled selected>Select Accessory</option>
                            <option v-for="(item, key) in accessoryList" :value="item" :key="key">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div note="enemyInfo" class="m-4">
                    <div>
                        <select v-if="currentEnemyInfo" v-model="currentEnemyInfo">
                            <option :value="{}" disabled selected>Select Enemy</option>
                            <option v-for="(item, key) in enemyList" :value="item">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="w-24 h-36 border-2 rounded m-2"></div>
                    <div v-if="currentEnemyInfo.recommendedLevel">{{currentEnemyInfo.recommendedLevel}}<span @mouseover="show" @mouseleave="hide">(i)</span><div v-if="rlDisplay">Recommended Level</div></div>
                </div>
            </div>
            <div note="attackInfo" class="m-4">
                <div note="addition">
                    Addition: 
                    <select v-model="currentAddition" @change="updateAdditionLevelList" class="m-2">
                        <option :value="undefinied" disabled>Select Addition</option>
                        <option v-for="(item, key) in additionList" :value="item" :key="key">
                            {{item.name}}
                        </option>
                    </select>
                    <select v-model="currentAdditionLevel" @change="updateAdditionHitsList" class="m-2">
                        <option :value="0" disabled selected>Select Addition Level</option>
                        <option v-for="(item, key) in additionLevelList" :value="item" :key="key">
                            {{item.level}}
                        </option>
                    </select>
                    <input disabled :value="`${damage} Damage`" class="bg-slate-300 shadow-md rounded mx-4 text-center">
                </div>
                <div note="dAttack">
                    Dragoon Ability:
                    <select v-model="currentDragoonAttack"  class="m-2">
                        <option value="" disabled selected>Select Ability</option>
                        <option v-if="dragoonAttackList.length" value="physical">D-Attack ({{currentPlayerInfo.element}})</option>
                        <option v-for="(item, key) in dragoonAttackList" :value="item" :key="key">
                            {{item.spell}}
                        </option>
                    </select>
                    <select v-model="currentDragoonLevel" class="m-2">
                        <option value="" disabled selected>Select D'Level</option>
                        <option v-for="index in 5" :value="index">
                            {{index}}
                        </option>
                    </select>
                <input disabled :value="`${dDamage} Damage`" class="bg-slate-300 shadow-md rounded mx-4 text-center">
                </div>
            </div>
        </div>
        <div note="bottom" class="flex flex-row m-2 border-2 rounded">
            <div note="left" class="m-4">
                <div class="m-2">
                    <select v-model="currentAdditionHits">
                        <option value="" disabled selected>Addition Hits</option>
                        <option v-for="index in additionHitsList" :value="index">
                            {{ index - 1 }}
                        </option>
                    </select>
                </div>
                <div class="m-2">
                    <select v-model="currentDAdditionHits">
                        <option value="" disabled selected>D'Attack Hits</option>
                        <option v-for="index in 5" :value="index">
                            {{index}}
                        </option>
                    </select>
                </div>
                <div class="m-2">
                    <select v-model="currentFieldElement">
                        <option value="" disabled selected>Select Field Element</option>
                        <option v-for="(item, key) in elements" :value="item" :key="key">
                            {{item}}
                        </option>
                    </select>
                </div>
            </div>
            <div note="center" class="m-4">
                <div class="m-2">
                    <input type="checkbox" id="playerPowerUp" v-model="playerPowerUp"/>
                    <label for="playerPowerUp" class="px-2">Player Power Up</label>
                </div>
                <div class="m-2">
                    <input type="checkbox" id="playerFearful" v-model="playerFearful"/>
                    <label for="playerFearful" class="px-2">Player Fear</label>
                </div>
            </div>
            <div note="right" class="m-4">
                <div class="m-2">
                    <input type="checkbox" id="enemyPowerDown" v-model="enemyPowerDown"/>
                    <label for="enemyPowerDown" class="px-2">Enemy Power Down</label>
                </div>
                <div class="m-2">
                    <input type="checkbox" id="enemyFearful" v-model="enemyFearful"/>
                    <label for="enemyFearful" class="px-2">Enemy Fear</label>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="./vue.js"></script>